<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ site.title | escape }}</title>

	<link rel="icon" type="image/png" href="./img/favicon.png">	

	<!--  WebFonts  -->
	<link href="./css/css" rel="stylesheet" type="text/css">
	<link href="./css/font-awesome.min.css" rel="stylesheet">

	<!-- Twitter Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="./css/metro-bootstrap.min.css">

	<!-- Core StyleSheet -->
	<link rel="stylesheet" type="text/css" href="./css/main_style.css">
</head>
