<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>{{ site.title | escape }}</title>

  <link rel="icon" type="image/png" href="./img/favicon.png" />

  <!-- Web fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous"
  />

  <!-- Latest compiled and minified CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />

  <!-- Optional theme -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
    integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
    crossorigin="anonymous"
  />

  <!-- Core StyleSheet -->
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ '/css/main.css' | relative_url }}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ '/css/print.css' | relative_url }}"
    media="print"
  />
</head>
