<!-- Web Scripts -->
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"
  integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ=="
  crossorigin="anonymous"
></script>
<script
  type="text/javascript"
  defer
  src="./js/jquery.githubRepoWidget.custom.js"
></script>

{% if site.blogfeed %}
<script type="text/javascript" defer>
  $(function () {
    let url =
      "http://ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=10&callback=?&q=" +
      encodeURIComponent("{{site.blogfeed}}");
    $.ajax({
      url: url,
      dataType: "json",
      success: function (data) {
        if (data.responseData.feed && data.responseData.feed.entries) {
          $.each(data.responseData.feed.entries, function (i, e) {
            $("#blogArticles").append(
              "<a target='_blank' href='" +
                e.link +
                "'>" +
                e.title +
                "</a><br><br>"
            );
          });
        }
      },
      error: function (err) {},
    });
  })();
</script>
{% endif %}
